{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Symfony Blog</h1>
        <p class="lead">This blog was built using Symfony 5, Webpack Encore, and Bootstrap.</p>
        <hr class="my-4">
        <p>Click the button below to add a post!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('app_post_new') }}" role="button">Create a Post</a>
        </p>
    </div>

    {% for blogPost in blogPosts %}
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{ blogPost.title }}</h3>
                    <div class="mb-1 text-muted">{{ blogPost.publishedAt ? blogPost.publishedAt|date('Y-m-d') : 'Unpublished' }}</div>
                    <p class="card-text mb-auto">{{ blogPost.postContent|u.truncate(210, '...') }}</p>
                    <a href="{{ path('app_post_show', {id: blogPost.id}) }}" class="stretched-link">Continue reading</a>
                </div>
            </div>
            <div class="col-sm-3">
                <img class="img-fluid" src="{{ blogPost.postImage ?:  'https://www.placecage.com/300/250'}}" alt="{{ blogPost.title }}">
            </div>
        </div>

    {% endfor %}



{% endblock %}
